.smallSquare {
   
    background-color: skyblue;
    /* border: 0.5px solid black; */
    height: 2rem;
    width: 2rem;
    
}

.gridSquares {

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border: 2px solid pink;
    height: 32rem;
    width: 32rem;

}

/* .gridSquares > * {

    background-color: white;
    
} */