* {

    box-sizing: border-box;

}

body {

    display: flex;
    justify-content: center;

}

h1 {

    margin: 0.25rem;
    text-align: center;

}

li,
label,
input {

    font-family: Helvetica, sans-serif;
    color: black;

}

.smallSquare {
   
    background-color: white;
    border: 0.5px solid black;
    height: 2rem;
    width: 2rem;
    
}

.newRowSquare {
   
    background-color: thistle;
    border: 0.5px solid black;
    height: 2rem;
    flex: 1 1 2rem;
    
}

.gridSquares {

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 32rem;
    width: 32rem;

}

/* .gridSquares > * {

    background-color: white;
    
} */